body {
  background-color: #282a36;
  color: #abb2bf;
  font-family: "Segoe UI";
  width: 600px;
  margin-left: 50px;
}

a {
  color: #95c379;
  text-decoration: none;
}

nav > a {
  display: inline-flex;
  align-items: center;
  font-size: 22.5px;
  color: #abb2bf;
}

nav > a > svg {
  padding-right: 10px;
}

hr {
  margin-left: 0px;
  border: none;
  width: 560px;
  height: .75px;
  color: #abb2bf;
  background-color: #abb2bf;
}

iframe {
  max-width: 600px;
  max-height: 315px;
}

img {
  max-width: 560px;
}

blockquote {
  border-left: 3px solid #abb2bf;
  padding-left: 10px;
}